# Prevent garmin_gps from being loaded so generic USB can be used instead (GPS Babel)
# References:
# - https://docs.qgis.org/2.8/en/docs/user_manual/working_with_gps/plugins_gps.html
# - https://wiki.openstreetmap.org/wiki/USB_Garmin_on_GNU/Linux
blacklist garmin_gps
